{% extends 'bootstrap.html' %}

{% block header %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Django Passkeys</a>
        </div>
    </nav>
{% endblock %}


{% block main %}
    <div class="container my-5">
        <div class="card card-login mx-auto" style="max-width: 500px;">
            <div class="card-header">Logged out</div>
            <div class="card-body">
                <p>You have logged out successfully.</p>
                <p><a href="{% url 'login' %}">Log in again</a></p>
            </div>
        </div>
    </div>

{% endblock %}