{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="container my-5">
        <!-- Page Content -->
        {% if registered %}
            <div class="alert alert-success">Registered Successfully</div>
        {% endif %}
        <h1>Welcome {{ request.user.username }}!</h1>
        <hr/>

        <div id="passkey-success" style="display: none">
            <div class="alert alert-success">
                Your device supports passkeys!
            </div>
            <a href="{% url 'passkeys:home' %}">Manage passkeys</a>
        </div>

        <div id="passkey-fail" style="display: none">
            <div class="alert alert-danger">
                Unfortunately your device does not support passkeys.
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript" src="{% static 'passkeys/js/passkeys.js' %}"></script>
    <script type="application/javascript">
        DjangoPasskey.checkPasskeySupport(
            () => {
                document.querySelector("#passkey-success").style.display = 'block';
            },
            () => {
                document.querySelector("#passkey-fail").style.display = 'block';
            }
        )
    </script>
{% endblock %}