{% extends "base.html" %}
{% load static %}

{% block content %}
    {{ block.super }}
    <div class="d-flex justify-content-between my-3">
        <h2>Passkeys</h2>
        <button class="btn btn-primary" onclick="DjangoPasskey.keyCreate()">Add Key</button>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Platform</th>
            <th class="text-end">Date Added</th>
            <th class="text-end">Last Used</th>
            <th class="text-end">Active</th>
            <th class="text-end">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% if keys %}
            {% for key in keys %}
                <tr>
                    <td>{{ key.name }}</td>
                    <td>{{ key.platform }}</td>
                    <td class="text-end">{{ key.added_on }}</td>
                    <td class="text-end">{% if key.last_used %}{{ key.last_used }}{% else %}Never{% endif %}</td>
                    <td class="text-end">
                        <input type="checkbox" id="toggle_{{ key.id }}" {% if key.enabled %}checked{% endif %}
                               data-onstyle="success" data-offstyle="danger"
                               onchange="DjangoPasskey.keyToggle({{ key.id }})"
                               data-toggle="toggle" class="status_chk">
                    </td>
                    <td class="text-end">
                        <a onclick="DjangoPasskey.keyDelete({{ key.id }},'{{ key.name }}')" style="cursor:pointer;">
                            &#10060;
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">You don't have any keys.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <div class="modal fade" tabindex="-1" role="dialog" id="passkey-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body"></div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}
{% endblock %}


{% block javascript %}
    {{ block.super }}
    <script type="application/javascript" src="{% static 'passkeys/js/passkeys.js' %}"></script>
{% endblock %}