{% extends "passkeys/passkeys_base.html" %}
{% load static %}

{% block head %}
    {{ block.super }}
    <style>
        .toggle-group > .toggle-handle.btn {
            display: none;
        }
    </style>

    <script type="application/javascript" src="{% static 'passkeys/js/passkeys.js' %}"></script>
    {% if enroll %}
        <script type="application/javascript">
            document.addEventListener("DOMContentLoaded", DjangoPasskeys.registration);
        </script>
    {% endif %}
    <link href="{% static  'passkeys/css/bootstrap-toggle.min.css' %}" rel="stylesheet">
    <script src="{% static 'passkeys/js/bootstrap-toggle.min.js' %}"></script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="container">
        <div class="d-flex justify-content-between mt-4">
            <h1>Your passkeys</h1>
            <div>
                <button class="btn btn-success" onclick='DjangoPasskeys.registration();'>Add Key</button>
            </div>
        </div>
        <br/>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Date Added</th>
                <th>Platform</th>
                <th>Last Used</th>
                <th>Status</th>
                <th>Delete</th>
            </tr>
            {% for key in keys %}
                <tr>
                    <td>{{ key.name }}</td>
                    <td>{{ key.added_on }}</td>
                    <td>{{ key.platform }}</td>
                    <td>{% if key.last_used %}{{ key.last_used }}{% else %}Never{% endif %}</td>
                    <td>
                        <input type="checkbox" id="toggle_{{ key.id }}" {% if key.enabled %}checked{% endif %}
                               data-onstyle="success" data-offstyle="danger"
                               onchange="DjangoPasskeys.keyToggle({{ key.id }})"
                               data-toggle="toggle" class="status_chk">
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm"
                                onclick="DjangoPasskeys.keyDeleteConfirm({{ key.id }},'{{ key.name }}')">
                            &cross;
                        </button>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">You didn't have any keys yet.</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% csrf_token %}
    {% include "passkeys/modal.html" %}
{% endblock %}
