name: tox

on:
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["dev"]

env:
  MODE: GIT_ACTIONS_DEV
  DJANGO_SETTINGS_MODULE: test_app.test_settings

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: |
            3.7
            3.8
            3.9
            3.10
            3.11
            3.12
    - name: Install tox
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: Run tox
      run: tox